@font-face {
  font-family: GothamMedium;
  src: url("./Fonts/NeueMontreal/PPNeueMontreal-Book.otf");
}

@font-face {
  font-family: GothamThin;
  src: url("./Fonts/NeueMontreal/PPNeueMontreal-Book.otf");
}

* {
  font-family: GothamMedium;
}

                                                  /* Home Page */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-headers {
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  color: #300DBE;
  font-size: 1.5vw;
  font-weight: 700;
  word-spacing: 1px;
  border-radius: 5px;
}

.dropdown-header i {
  margin-left: 5px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 25%; 
  border-bottom-right-radius: 25%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  /* max-height: 0; */
  transition: max-height 0.3s ease-out;
  z-index: 1;
  backdrop-filter: blur(10px); 
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.dropdown-content p {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.dropdown-content p:last-child {
  border-bottom: none;
}

.dropdown-content.show {
  max-height: 200px; /* Adjust the max-height as needed */
}

.homeNav a {
  text-decoration: none;
  color:  #300DBE;
  font-size:1.5vw;
  font-weight: 700;
  word-spacing: 1px;
}

.cp{
  height: 4vw;
  width: 16vw;
}

.navButton {
  background-color: #F7D319;
  padding: 1vw 2vw;
}

.carouselText{
  font-size: 10vw;
  color : #300DBE;
  font-weight: 700;
}

.carouselW{
  /* width: 50vw !important; */
  height: 40vw;
  margin-top: 7vw;
  margin-left: 4vw;
}

/* .carousel-inner{
  width: 50vw !important;
} */

.carouselW1{
  line-height: 9vw !important;
  letter-spacing: -0.155vw !important;
}

.carouselText{
  width: 100%;
}

.imager {
  margin-left: 13vw;
}
.imager img{
  margin-top: 1vw;
}

.mainFooter{
  height: 3vw;
  background-color: #300DBE;
  padding-left: 85%;
  bottom: 0; 
  z-index: 999;
  position: fixed;
  width: 100%;
}

.mainFooter a {
  color: white !important;
  text-decoration: none !important;
  font-size: 2vw !important;
  font-weight: bolder !important;
}

.FooterItems{
  color: white !important;
  text-decoration: none;
  margin-left: 3vw;
  text-align: center;
}

.footItem1{
  margin-left: 40vw;
}

.invitationCont{
  text-align: center;
  padding-top: 5vw;
}

.invitation{
  color :#300DBE;
  font-size: 8vw;
  margin-bottom: 5vw;
  line-height: 6.5vw;
  font-weight: 600;
}

.infoPar{
  color :#300DBE;
  font-size: 2vw;
  width: 60%;
  margin-left: 20%;
  font-weight:normal;
  margin-bottom: 20vw;
  margin-top: 3vw;
}

.infoHead{
  color :#300DBE;
  font-size: 3vw;
  font-weight:600;
  margin-bottom: 1vw;
}

.invitationCont ul {
  list-style: none;
  margin-bottom: 4vw;
}

.invitationCont ul li {
  color: #300DBE;
  font-size: 2vw;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
}

.invitationCont ul li a{
  color: #300DBE;
  font-size: 2vw;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
}

.invitationCont ul li:hover {
  cursor: pointer;
}

/* .dropdown-container {
  position: relative;
} */

.dropdown-header {
  cursor: pointer;
  padding: 10px !important;
  background-color: #FFD900;
  font-size: 2vw !important;
  padding-left: 30px !important;

  font-weight: 700;
  ;
}

.dropdown-description {
  padding: 10px;
  background-color: #FFD900;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
}

.dropdown-description p {
  margin: 0;
  font-size: 1.5vw;
  width: 80%;
  margin-left: 4vw;
}

.dropdown-header1 {
  cursor: pointer;
  padding: 10px !important;
  background-color: #FAF2C9;
  font-size: 2vw !important;
  padding-left: 30px !important;

  font-weight: 700;
  ;
}

.dropdown-description1 {
  padding: 10px !important;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
  background-color: #FAF2C9;

}

.dropdown-description1 p {
  margin: 0;
  font-size: 1.5vw;
  width: 80%;
  margin-left: 4vw;
}

.dropdown-header2 {
  cursor: pointer;
  padding: 10px !important;
  background-color: #eddea5 ;
  font-size: 2vw !important;
  padding-left: 30px !important;

  font-weight: 700;

}

.dropdown-description2 {
  padding: 10px;
  background-color:  #eddea5;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
}

.dropdown-description2 p {
  margin: 0;
  font-size: 1.5vw;
  width: 80%;
  margin-left: 4vw;
}

.dropdown-header3 {
  cursor: pointer;
  padding: 10px !important;
  background-color:  #33322D;
  color: white;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
  font-size: 2vw !important;
  padding-left: 30px !important;

  font-weight: 700;
}

.dropdown-description3 {
  padding: 10px;
  color: white;
  background-color: #33322D;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
}

.dropdown-description3 p {
  margin: 0;
  font-size: 1.5vw;
  width: 80%;
  margin-left: 4vw;
}

.dropdown-header4 {
  cursor: pointer;
  padding: 10px !important;
  background-color: #E9D986;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
  font-size: 2vw !important;
  padding-left: 30px !important;
  font-weight: 700;
}

.dropdown-description4 {
  padding: 10px;
  background-color: #E9D986;
  transition: max-height 0.8s ease-in-out;
  overflow: hidden;
  display: flex;
  padding-left: 3vw !important;
}

.dropdown-description4 p {
  font-size: 1.5vw;
  width: 80%;
}

.dLink {
  text-decoration: none;
  color: black;
  margin-left: 2vw;
  font-size: 1.5vw;
}

.dropdown-main{
  margin-bottom: 4vw;
}

.bottomText-main{
  color: #300DBE;
  padding-left: 2vw;
  margin-bottom: 5vw;
}

.bottomText-main-head{
  font-size: 3.5vw;
  width: 95%;
  font-weight: 700;
  font-style: italic;
  line-height: 3vw;
  margin-bottom: 1vw;
}

.bottomText-main-para {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 3vw;
}
                                                  /* Our work Internal */


.smallHeadOWI{
  font-size: 2vw;
  color: #300DBE;
  width: 55vw;
  margin-bottom: 4vw;
}
.italic{
  font-style: italic;
}

.tabText{
  font-size: 3vw;
  color: #300DBE;
  font-weight: 700;
  font-family: GothamThin;
  padding-right: 4vw;
}

.owiTab{
  justify-content: space-between;
  margin-bottom: 10vw;
}

.tabImage img{
  height: auto;
  width: 18vw;
}

.tabImage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:   21vw;
}

.oviBox img{
  height: auto;
  width: 24vw;
}

.oviBox{
  justify-content: space-between;
  margin-bottom: 6vw;
}

.oviGoalsText{
  flex-direction: column;
  font-size: 3vh;
  color: #300DBE;
  font-weight: 300;
  width: 30vw;
  padding-top: 3vw;
}

.oviGoals{
  justify-content: space-between;
  margin-bottom: 6vw;
}

.OviGoalsHead{
  margin-bottom: 1vw;
}

.oviGoalIm img{
  height: auto;
  width: 45vw;
}

.oviApproachText{
  flex-direction: column;
  color: #300DBE;
  font-weight: 300; 
  font-size: 3vh;
  width: 30vw;
  margin-left: 2vw;
  padding-top: 6vw;
}

.oviApproachIm{
  display: flex;
}
.oviApproachIm img {
  height: auto;
  width: 20vw;
  margin-right: 2vw;
}

.oviApproachTextHead{
  margin-bottom: 1vw;
}

.oviApproach{
  margin-bottom: 6vw;
}

.oviResult{
  flex-direction: column;
}

.oviResultHead{
  font-weight: 400;
  color: #300DBE;
  margin-bottom: 2vw;
  font-size: 3vh;
}

.oviResultPar{
  font-weight: 400;
  color: #300DBE;
  margin-bottom: 2vw;
  font-size: 3vh;
}

.oviUI{
  font-weight: 600;
  color: #300DBE;
  margin-bottom: 2vw;
  font-size: 5vh;
}

.oviButtons{
  margin-bottom: 2vw;
}

.oviB1{
  text-decoration: None !important;
  padding: 1vw 1vw;
  background-color: #F7D319 !important;
  color: #300DBE;
  border-radius: 1vw;
}

.oviB2{
  text-decoration: None !important;
  padding: 1vw 1vw;
  background-color: #F7D319 !important;
  color: #300DBE;
  border-radius: 1vw;
  margin-left: 2vw;
}

.oviB3{
  text-decoration: None !important;
  padding: 1vw 1vw;
  background-color: #F7D319 !important;
  color: #300DBE;
  border-radius: 1vw;
  margin-left: 50vw;
}

                                                      /* Services */

.servStrategyText{
  flex-direction: column;
  color: #300DBE;
  margin-top: 4vw;
  width: 50%;
}

.servStrategyTextHead {
  font-weight: 600;
  font-size: 5vw;
  margin-bottom: 2vw;
  letter-spacing: 0.3vw;
}

.servStrategyTextPara {
  font-size: 2vw;
  line-height: 2.5vw;
  width: 55vw;
}

.servStrategyImg img {
  height: 3vw;
  margin-bottom: 0.5vw;
}

.servStrategyImg{
  margin-top: 14vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
}

.servStrategy{
  margin-bottom: 4vw;
}

.servCenterImage img{
  width: 25vw;
}

.servCenterImage{
  justify-content: space-between;
  margin-bottom: 3vw;
}

.HelpText{
  color: #300DBE;
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-top: 5vw;
  font-size: 3.5vh;

}

.HelpTextHead{
  margin-bottom: 2vw;
  font-size: 3vw;
  font-weight: 600;
  line-height: 2.5vw;
}

.HelpTextPara{
  width: 90%;
  line-height: 2vw;
}

.HelpBox{
  display: flex;
  margin-bottom: 4vw;
}

.HelpImage img{
  width: 30vw;
  height: 30vw;
  margin-left: 11vw;
}

.imgCollague{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.imgCollague img{
  height: auto;
  width: 19vw;
}

.bottomHead{
  display: flex;
  flex-direction: column;
  margin-top: 8vw;
}

.bottomHeader{
  color: #300DBE;
  font-size: 3.5vw;
  width: 85%;
  font-weight: 700;
  /* font-style: italic; */
  line-height: 3.25vw;
  margin-bottom: 1vw;
}
.bottomHeadPara{
  color: #300DBE;
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 3vw;
}

.bottomButtonDiv{
  margin-bottom: 8vw;
}

.bottomButton{
  text-decoration: None !important;
  background-color: #F7D319;
  padding: 1vw 2vw;
  color: #300DBE;
  border-radius: 1vw;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 600;
  word-spacing: 1px;
}

.teamsCollague{
  padding: 2vw 5vw;
}

.mainImage{
  display: flex;
  height: max-content;
  margin-left: 2vw;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(168, 167, 172);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  padding: 1vw 2vw;
  opacity: 0.9;
  background-color: #f4f3eed3;
  padding-top: 3vw;
  padding-left: 4vw;
  /* background-image: url("./Content/Chess.png"); */
}
.mainImageMain img{
  height: 25vw;
  width: 25vw;
  object-fit: cover;
  border-radius: 1vw;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
}

.TeamsPage{
  background-color: white;
}

.mainImageMain p {
  color: #300DBE;
  font-size: 1.75vw;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 0.5vw;
  text-align: center;
}

.mainImPara{
  color: #300DBE;
  font-size: 1.6vw;
  width: 90%;
}

.mainImagePara{
  padding: 0vw 6vw;
  /* margin-top: 3vw; */
  padding-right: 0;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2vw;
  word-spacing: 1px;
  margin-left: 2vw;
}

.mainImLinks{
  /* margin-top: 4vw; */
  justify-content: space-between;
  width: 50%;
  margin-bottom: 4vw;
  font-weight: 600;
  font-size: 1.5vw;
}

.image-gallery img{
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  border-radius: 1vw;
  margin: 1vw 1vw;
  margin-bottom: 2vw;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
}

.image-gallery{
  margin-top: 5vw;
}

                                                              /* WorkInProgressPage.css */

.wip-container {
  text-align: center;
  margin: 50px auto;
  margin-top: 10vw;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
}

.wip-container h1 {
  color: #300DBE; /* Orange color for emphasis */
}

.wip-container p {
  font-size: 18px;
}

                                                                  /* Loader */
.lds-ring {
  display: flex;
  justify-content: center;
  position: relative;
  width: 64px;
  height: 64px;
  text-align: center;
  width: 100%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #300DBE;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #300DBE transparent transparent transparent;
  margin-bottom: 5vw;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

                                                  /* Home button */
.home-button {
  background-color: #300DBE; /* Blue background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for button */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s ease; /* Transition effect for background color */
  /* margin-left: 25vw; */
  /* margin-top: 3vw; */
  display: block;
  /* width: 50%; */
  text-align: center;
  text-decoration: none !important;
  /* margin-bottom: 4vw; */
}

.home-button:hover {
  background-color: #300dbead; /* Darker blue color on hover */
}

.StrategyMainImg{
  height: 90vw;
  margin-top: 1vw;
  width: 40vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
}

.ml{
  margin-left: 10vw;
}